
<!--header start-->
{% block header_attribs %} id="site-header" class="header header-2"{% endblock header_attribs %}


{% block styles %}
<link href="{{ url_for('static', filename='css/argon/argon-dashboard.css') }}" rel="stylesheet">
{{super()}}
{% endblock styles %}


<!--navbar start-->
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('main.home') }}">ACCEUIL</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.pricing') }}">OFFRE</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#blanc">FAQ</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#blanc">OTHER</a> 
  </li>
{% endblock navbar %}



{% block top_content %}

<!--page title start-->

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title"><span>R</span>egister Page</h1>
        <p>We're Building Modern And High Software</p>
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="static/images/bg/11.png" alt=""></div>
</section>

{% endblock top_content %}

<!--page title end-->


<!--body content start-->
{% block main_content %}
<div class="page-content">

<!--login start-->

<section class="register pos-r o-hidden">
  <div class="bg-animation">
    <img class="zoom-fade" src="static/images/pattern/03.png" alt="">
  </div>
  <div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-3 justify-content-center">

              <div class="text-muted text-center mt-2 mb-1">
              
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Creer votre compte
                {% endif %}

              </div>
              
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              
              {% if success %}

                <div class="text-center mt-2 mb-3">

                  <span class="text-success">{{ success | safe }}</span>
                  
                </div>

              {% else %}
                <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}

                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      {{ form.first_name(placeholder="Prenom",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      {{ form.first_name(placeholder="Nom",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.email(placeholder="Email",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.password(placeholder="Mot de passe",class="form-control",type="password") }}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" name="Inscription" class="btn btn-primary my-4">Register</button>
                  </div>
                </form>
              {% endif %}

            </div>
          </div>
          <div class="row mt-3 text-center">
            <div class="col-12">
              <a href={{ url_for('auth.login') }} class="text-light"><small>Login</small></a>
            </div>
          </div>
        </div>
      </div>


      <!--  -->

    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <h6>Register Now</h6>
          <h2>Simple And Easy To Sign Up</h2>
        </div>
        </div>
        </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="register-form text-center">
          <form id="contact-form" method="post" action="php/contact.php">
            <div class="messages"></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_name" type="text" name="name" class="form-control" placeholder="First name" required="required" data-error="Firstname is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last name" required="required" data-error="Lastname is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone" required="required" data-error="Phone is required">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_password" type="password" name="password" class="form-control" placeholder="Password" required="required" data-error="password is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id="form_password1" type="password" name="password" class="form-control" placeholder="Conform Password" required="required" data-error="Conform Password is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control">
                    <option selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12">
                <div class="remember-checkbox clearfix mb-5">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">I agree to the term of use and privacy policy</label>
                  </div>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="#" class="btn btn-theme btn-circle" data-text="Create Account"><span>C</span><span>r</span><span>e</span><span>a</span><span>t</span><span>e</span>
                <span> </span><span>A</span><span>c</span><span>c</span><span>o</span><span>u</span><span>n</span><span>t</span></a>
                <h5 class="mb-0 text-capitalize mt-4">Have An Account ? <a href="login.html"><i>Sign In!</i></a></h5>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--login end-->

</div>
{% endblock main_content %}