{% extends 'app_base.html' %}

	

{% block header_content %}
  <!-- Beginning Card Header -->
  <div class="row align-items-center py-5 mb-4">
    <div class="col-lg-6 col-4">
      <!-- <h6 class="h2 text-white d-inline-block mb-0">Défaut</h6> -->
      <i class="ni ni-planet text-white"></i></a></li>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> -->
          <li class="breadcrumb-item"><a href="#">Leads</a></li>
          <li class="breadcrumb-item active" aria-current="page">Generator</li>
        </ol>
      </nav>
      {% set displayed_leads = leads|length + current_page_token %}
      <span class="badge badge-primary mr-md-6 ml-2">{{displayed_leads}}/{{all_leads_len}}</span>
      <button type="button" class="btn btn-sm btn-default">
	    <span class="text-capitalize">Restant </span><span>à exporter</span>
	    <span class="badge badge-primary">{{leads_left}}</span>
	  </button>
    </div>
    <div class="col-lg-6 col-8 text-right">
      <!-- <a href="#" class="btn btn-sm btn-neutral">Actions</a> -->
        {% if leads is none %}
        <button class="btn btn-neutral" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded='true'>
        {% else %}
    	<button class="btn btn-neutral" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded='false'>
    	{% endif %}
          <span class="btn-inner--icon"><i class="ni ni-settings-gear-65"></i></span>
          <span class="btn-inner--text">Paramètre de recherche</span>
        </button>
        <!-- <div class="dropdown-menu">
          <a class="dropdown-item" href="" id='deleteAllOpportunities'>Supprimer la sélection</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span class='text-capitalize'>éditer</span> les étapes
          </a>
          <a class="dropdown-item" href="#">
            <span class='text-capitalize'>éditer</span> les status
          </a>
        </div> -->  
    </div>
  </div>
{% endblock header_content %}

{% block main_content %}

	<!-- Cards Settings -->
    <div class="collapse show" id="collapseSettings">
      <div class="row">
      	<!-- Company Settings  -->
        <div class="col-lg-6">
          <div class="card-wrapper">
            <form class="card" method="post" action="{{url_for('leads.view_leads')}}" id="companyLeadsForm">
              <div class="card-header">
              	<div class='row mx-2'>
	          	  <div class='col-10'>
	          		<div class="row  align-items-center">
	          	      <i class="ni ni-settings-gear-65"></i>
	            	  <h3 class="mb-0 mx-2">Entreprises</h3>
	            	  <input type='hidden' name='leads_type' value='company'>
	            	  {% if not lead_type == 'contact' %}
	            	  <button class="btn btn-sm btn-icon btn-3 btn-primary" type="submit" id='searchCompanyLeads'>
	            	  {% else %}
	            	  <button class="btn btn-sm btn-icon btn-3 btn-primary" type="submit" id='searchCompanyLeads' disabled>
	            	  {% endif %}
		        	  	<span class="btn-inner--icon"><i class="fa fa-search"></i></span>
		      		  </button>
	          		</div>
	          	  </div>
	           	  <div class='col-2 px-0 text-right'>
	            	<label class="custom-toggle custom-toggle-default">
	            	  {% if not lead_type == 'contact' %}
	              	  <input type="checkbox" checked id='checkboxCompanySettings'>
	              	  {% else %}
	              	  <input type="checkbox" unchecked id='checkboxCompanySettings'>
	              	  {% endif %}
	                	<span class="custom-toggle-slider rounded-circle" data-label-off="Non" data-label-on="Oui"></span>
	              	</label>
	              </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class='form-control-label pb-2'>
                      	Critères de recherche:
                      </div>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        	{% if not lead_type == 'contact' %}
                        	<button class="btn btn-outline-primary" type="button" id="button-addon1">
                        	{% else %}
                        	<button class='btn btn-outline-primary' type='button' id='button-addon1'>
                        	{% endif %}
                        		<i class="ni ni-shop"></i>
                        	</button>
                        <!-- <span class="input-group-text"><i class="ni ni-shop"></i></span> -->
                      	</div>
                      	{% if not lead_type == 'contact' %}
                        {{ comp_lead_form.company_activity_field(placeholder="Secteur d'activité", class="form-control company-settings-form-group form-group-list pl-2") }}
                        {% else %}
                        {{ comp_lead_form.company_activity_field(placeholder="Secteur d'activité", class="form-control company-settings-form-group form-group-list pl-2", disabled=True) }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% if leads is not none and lead_type=='company'%}
    			<div class="collapse col-md-6 show" id="collapseSubSettings">
    			{% else %}
    		    <div class="collapse col-md-6" id="collapseSubSettings">
    			{% endif %}
                  <div class="form-group">
                    <div class='form-control-label pb-2'>
                  	  Affiner la recherche:
                    </div>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
          	 			  <button class="btn btn-outline-primary" type="button" id="button-addon1"><i class="ni ni-pin-3"></i></button>
                        </div>                      	
                      <input class="form-control company-settings-form-group pl-2" name="company_location" placeholder="Ex: 75 ou 75001">
                    </div>
                  </div>
                </div>
              </div>
                <!-- end of sub settings collapse -->
              </div>
            </form>
          </div>
        </div>

        <!-- Contacts Settings  -->
        <div class="col-lg-6">
          <div class="card-wrapper">
            <form class="card" method="post" action="{{url_for('leads.view_leads')}}" id='contactLeadsForm'>
              <div class="card-header">
              	<div class='row mx-2'>
              	  <div class='col-10'>
              	    <div class="row  align-items-center">
      				  <i class="ni ni-settings-gear-65"></i>
        			  <h3 class="mb-0 mx-2">Contacts</h3>
        			  <input type='hidden' name='leads_type' value='contact'>
        			  <!-- button -->
        			  {% if lead_type=='contact' %}
        			  <button class="btn btn-sm btn-icon btn-3 btn-primary" type="sumbit" id='searchContactLeads'>
        			  {% else %}
        			  <button class='btn btn-sm btn-icon btn-3 btn-primary' type='sumbit' id='searchContactLeads' disabled>
        			  {% endif %}
		        		<span class="btn-inner--icon"><i class="fa fa-search"></i></span>
		      		  </button>
              		</div>
              	  </div>
                  <div class='col-2 px-0 text-right'>
                	<label class="custom-toggle custom-toggle-default">
                	  <!-- toggle -->
                	  {% if lead_type=='contact' %}
                	  <input type='checkbox' checked id='checkboxContactSettings'>
                	  {% else %}
                      <input type="checkbox" unchecked id='checkboxContactSettings'>
                      {% endif %}
                      <span class="custom-toggle-slider rounded-circle" data-label-off="Non" data-label-on="Oui"></span>
                  	</label>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class='form-control-label pb-2'>
                      	Critères de recherche:
                      </div>
	                  <div class="input-group input-group-merge">
	                    <div class="input-group-prepend">
	                      <!-- icon on field  -->
	                      {% if lead_type=='contact'%}
	                      <button class='btn btn-outline-primary' type='button' id='button-addon1'>
	                      {% else %}
	                      <button class="btn btn-outline-primary" type="button" id="button-addon1" disabled>
	                      {% endif %}
	                        <i class="ni ni-shop"></i>
	                      </button>
	                    </div>      
	                     <!-- field  --> 
	                    {% if lead_type=='contact'%}               	
	                    {{ comp_lead_form.company_activity_field(placeholder="Secteur d'activité", class="form-control company-settings-form-group form-group-list") }}
	                    {% else %}
                        {{ comp_lead_form.company_activity_field(placeholder="Secteur d'activité", class="form-control company-settings-form-group form-group-list", disabled=True) }}
                        {% endif %}
	                  </div>
	                </div>
                  </div>
                </div>
                {% if lead_type=='contact' %}
                <div class='row collapse show'>
                {% else %}
                <div class='row collapse'>
                {% endif %}
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class='form-control-label pb-2'>
                      	Affiner la recherche:
                      </div>	
                      <div class="input-group input-group-merge">
                      	<div class="input-group-prepend">
                      		<button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="ni ni-pin-3"></i></button>
                          <!-- <span class="input-group-text"><i class="ni ni-pin-3"></i></span> -->
                        </div>
                        <input class="form-control company-settings-form-group pl-2" placeholder="Ex: 75 ou 75001" name='contact_location'>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class='form-control-label pb-2'>
                      	&nbsp
                      </div>	
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" type="button" id="button-addon1">
                            <i class="ni ni-badge"></i>
                          </button>	
                          <!-- <span class="input-group-text"><i class="ni ni-badge"></i></span> -->
                        </div>
                        <input class="form-control company-settings-form-group pl-2" placeholder="Position/Poste" 
                        name="contact_position">
                      </div>
                    </div>
                  </div>
              	</div>
              </div>
            </form>
          </div>
        </div>
	  </div>
	</div>
  	<!-- end collapsible settings -->

	  <!-- Cards Tables -->
	  <div class='row'>
	  	
	  	{% if lead_type=='company' %}
	  	<!-- Company Leads Table -->
	    <!-- <div class='col-md-6 col-12'> -->
	    <div class='col-12'>
	      <div class='card shadow'>
		    <div class="card-header border-0">
		    	<div class='row'>
		    		<div class='col-md-8 col-6 mr-auto'>
		    			<h3 class="mb-0">Entreprises</h3>
		    		</div>
		    		<div class='col-md-4 col-6 text-right'>
					<!-- <a class="btn btn-sm btn-3 btn-primary" role="button" id='refreshCompanyLeads' href="">
			        	<span class="btn-inner--icon"><i class="fa fa-redo"></i></span>
			      	</a> -->
              {% if leads_left==0 %}
	        	  <button class="btn btn-sm btn-3 btn-primary" role="button" id='uploadCompanyLeads' href="" disabled>
              {% else %}
              <button class="btn btn-sm btn-3 btn-primary" role="button" id='uploadCompanyLeads' href="">
              {% endif %}
                <span class='btn-inner--text'>Exporter</span>
			        	<span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
			      	</button>
		      		</div>
		    	</div>
	        </div>
	        <div class='card-body border-0 px-0 py-0'>
        	  <!-- Table -->
		      <div class="table-responsive table-hover rounded">
		        <table class="table align-items-center table-flush" id='companyLeadsTable'>
		          <!-- Table Head -->
		          <thead class="thead-light">
		            <tr>
		              <th>
		                <span class="custom-checkbox">
		                  <input type="checkbox" id="selectAll">
		                  <!-- <label for="selectAll"></label> -->
		                </span>
		              </th>
		              <th scope="col" data-sort='company_name'>Entreprise</th>
		              <th scope="col" data-sort='company_city'>Ville</th>
		              <th scope="col" data-sort='company_email'>Email</th>
                  <th scope="col" data-sort='contact_firstname'>Prénom Contact</th>
                  <th scope="col" data-sort='contact_lastname'>Nom Contact</th>
		              <th scope="col" data-sort='company_website'>Site web</th>
		            </tr>
	              </thead>
   	              <!-- End Table Head -->
	              <!-- Table Body -->
                  <tbody>
		          {% for company in leads %}
		            <tr>
		              <!-- Checkbox  -->
		              <td>
		                <span class="custom-control custom-checkbox px-0">
		                  <input type="checkbox" name="checkbox[]" id="checkbox_{{company.id}}" value="{{company.id}}">
		                </span>
		              </td>
		              <td>
		                <div class="media align-items-center">
		                  <div class="media-body"> 
		                    <span class="mb-0 text-sm company_name">
                          {{company_name}}
                      </span>
		                  </div>
		                </div>
		              </td>
		              <td>
                    <span class="company_city">
                    {% if company.city is none %}
                    {% else %}
		                  {{ company.city }}
                    {% endif%}
                    </span>
		              </td>
		              <td>
		                <!-- span is used to retrieve value with jquery and hide if val == None -->
		                <span class="company_email">
                      {{ hash_value(company.website, 15, 20) }}
                  </span>
		              </td>
                  <td>
                    <!-- span is used to retrieve value with jquery and hide if val == None -->
                    <span class="contact_firstname">
                    {% if company.contacts.first() is none %}

                      {{ '*' * range(4, 12)|random }}

                    {% else %}
                      
                      {% set start = company.contacts.first().firstname|length//3 %}
                      {% set replacement = '*' * range(start*2, start*3)|random %}

                      {{ company.contacts.first().firstname | replace(company.contacts.first().firstname[start:], replacement) }}   

                    {% endif %}
                    </span>
                  </td>
                  <td>
                    <!-- span is used to retrieve value with jquery and hide if val == None -->
                    <span class="contact_lastname">
                    {% if company.contacts.first() is none %}

                      {{ '*' * range(4, 12)|random }}

                    {% else %}

                      {% set start = company.contacts.first().firstname|length//3 %}
                      {% set replacement = '*' * range(start*2, start*3)|random %}

                      {{ company.contacts.first().lastname | replace(company.contacts.first().lastname[start:], replacement) }}

                    {% endif %}
                    </span>
                  </td>
		              <td>
		                <!-- email -->
		                <span class="company_website">
                    {% if company.website is none %}
                      {{ '*' * range(15 , 20)|random }}
                    {% else %}

                      {% set start = company.website|length//3 %}
                      {% set replacement = '*' * range(start*2, start*3)|random %}

                      {{ company.website|replace(company.website[start:], repalcement) }}
                      
                    {% endif %}
                    </span>
		              </td>
		            </tr>
		       	  {% endfor %}
		          </tbody>
		        </table>
		      </div>
	      	</div>
	      	<!-- End of card body -->
	        <div class="card-footer py-4">
	          <nav aria-label="...">
	            <ul class="pagination justify-content-end mb-0">
	              {% if previous_page_token is not none %}
	                <li class="page-item">
	                  <a class="page-link" href="?page_token={{previous_page_token}}&leads_type=company" tabindex="-1">
	                    <i class="fas fa-angle-left"></i>
	                    <span class="sr-only">Page precedente</span>
	                  </a>
	                </li>
	              {% else %}
	                <li class="page-item disabled">
	                  <a class="page-link" href="#" tabindex="-1">
	                    <i class="fas fa-angle-left"></i>
	                    <span class="sr-only">Page precedente(desactivee)</span>
	                  </a>
	                </li>
	              {% endif %}
	              {% if next_page_token is not none %}                  
	              <li class="page-item">
	                <a class="page-link" href="?page_token={{next_page_token}}&leads_type=company">
	                  <i class="fas fa-angle-right"></i>
	                  <span class="sr-only">Page suivante</span>
	                </a>
	              </li>
	              {% else %}
	              <li class="page-item disabled">
	                <a class="page-link" href="">
	                  <i class="fas fa-angle-right"></i>
	                  <span class="sr-only">Page suivante</span>
	                </a>
	              </li>
	              {% endif %}
	              <!-- Pagination with numbers -->
                  <!-- <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#">3</a>
                  </li> -->
	            </ul>
	          </nav>
	        </div>
	        <!-- end of card footer -->
	      </div>
	    </div>

	    {% elif lead_type=='contact' %}
	   	<!-- Contacts Leads Table -->
	    <div class='col-12'>
	      <div class='card shadow'>
		    <div class="card-header border-0">
		    	<div class='row'>
		    		<div class='col-6 col-md-8 mr-auto'>
		    			<h3 class="mb-0">Contacts</h3>
		    		</div>
		    		<div class='col-6 col-md-4 text-right'>
					<!-- <a class="btn btn-sm btn-3 btn-primary" role="button" id='refreshContactLeads' href=""> 
			        	<span class="btn-inner--icon"><i class="fa fa-redo"></i></span>
			      	</a> -->
              {% if leads_left==0 %}
	        	  <button class="btn btn-sm btn-3 btn-primary" role="button" id='uploadContactLeads' disabled>
              {% else %}
              <button class="btn btn-sm btn-3 btn-primary" role="button" id='uploadContactLeads'>
              {% endif %}
                <span class='btn-inner--text'>Exporter</span>
			        	<span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
			      	</button>
		      		</div>
		    	</div>
	        </div>
	        <div class='card-body border-0 px-0 py-0'>
        	  <!-- Table -->
		      <div class="table-responsive table-hover rounded">
		        <table class="table align-items-center table-flush" id='contactLeadsTable'>
		          <!-- Table Head -->
		          <thead class="thead-light">
		            <tr>
		              <th>
		                <span class="custom-checkbox">
		                  <input type="checkbox" id="selectAll">
		                  <!-- <label for="selectAll"></label> -->
		                </span>
		              </th>
		              <th scope="col" data-sort='contact_firstname'>Prénom</th>
		              <th scope="col" data-sort='contact_lastname'>Nom</th>
		              <th scope="col" data-sort='contact_company'>Entreprise</th>
                  <th scope="col" data-sort='contact_position'>Poste</th>
		              <th scope="col" data-sort='contact_email'>Email</th>
		              <th scope="col"></th>
		            </tr>
	              </thead>
   	              <!-- End Table Head -->
	              <!-- Table Body -->
                  <tbody>
		          {% for contact in leads %}
		            <tr>
		              <!-- Checkbox  -->
		              <td>
		                <span class="custom-control custom-checkbox px-0">
		                  <input type="checkbox" name="checkbox[]" id="checkbox_{{contact.id}}" value="{{contact.id}}">
		                </span>
		              </td>
		              <td>
		                <div class="media align-items-center">
		                  <div class="media-body">
		                    <span class="mb-0 text-sm contact_firstname">
                          {% set start = contact,%}
		                    	{{ contact.firstname[:2] }}
		                	</span>
		                  </div>
		                </div>
		              </td>
		              <td data-toggle="modal" data-target='#editContactModal_{{contact.id}}'>
		                {{ contact.lastname }}
		              </td>
		              <td data-toggle="modal" data-target='#editContactModal_{{contact.id}}'>
		                <!-- span is used to retrieve value with jquery and hide if val == None -->
		                <span class="entreprise-cell">{{ contact.firm.name}}</span>
		              </td>
		              <td data-toggle="modal" data-target='#editContactModal_{{contact.id}}'>
		                <!-- email -->
		                {{ contact.email }}
		              </td>
		            </tr>
		       	  {% endfor %}
		          </tbody>
		        </table>
		      </div>
	      	</div>
	      	<!-- End of card body -->
	        <div class="card-footer py-4">
	          <nav aria-label="...">
	            <ul class="pagination justify-content-end mb-0">
	              {% if previous_page_token is none %}
	                <li class="page-item disabled">
	                  <a class="page-link" href="" tabindex="-1">
	                    <i class="fas fa-angle-left"></i>
	                    <span class="sr-only">Page précédente(désactivée)</span>
	                  </a>
	                </li>
	              {% else %}
	                <li class="page-item ">
	                  <a class="page-link" href="?page_token={{previous_page_token}}&leads_type=contact" tabindex="-1">
	                    <i class="fas fa-angle-left"></i>
	                    <span class="sr-only">Page précédente</span>
	                  </a>
	                </li>
	              {% endif %}
	              {% if next_page_token is none %}                  
	              <li class="page-item disabled">
	                <a class="page-link" href="">
	                  <i class="fas fa-angle-right"></i>
	                  <span class="sr-only">Page suivante</span>
	                </a>
	              </li>
	              {% else %}
	              <li class="page-item">
	                <a class="page-link" href="?page_token={{next_page_token}}&leads_type=contact">
	                  <i class="fas fa-angle-right"></i>
	                  <span class="sr-only">Page suivante</span>
	                </a>
	              </li>
	              {% endif %}
	            </ul>
	          </nav>
	        </div>
	        <!-- end of card footer -->
	      </div>
	    </div>
	    {% else %}
	  	<div class='col-12'>
			<!-- Not displaying anython -->
		</div>
	    {% endif %}
	  </div>
    {% endblock main_content %}     

    {% block footer %}
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
              &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Prospectly</a>
            </div>
          </div>
      </footer>
    {% endblock footer %}

{% macro hash_value(value, min, max) %}

   {% if value is none or value=='' %}

    {{ '*' * range(5, 10)|random }}

  {% else %}

    {% set start = value|length//[2,3]|random %}
    {% set replacement = '*' * range(start*1, start*2)|random %}
                          
    {{ value|replace(value[start:], replacement) }}

  {% endif %}

{% endmacro %}
  

