<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endfor %}
	<form action={{ url_for('leads.query') }} method="post">
		{{ form.csrf_token }}
			<p>
				{{ form.activity_field.label }}{{ form.activity_field() }}
				{{ form.postal_code.label }}{{ form.postal_code(size=10) }}
				{% for error in form.postal_code.errors %}
				{{ error }}
				{% endfor %}
			</p>
			<p>
				{% if request_output %}
				<input type="submit" id="download-btn" name="btn" value="Telecharger"/>
				{% endif %}
				<input type="submit" id="query-btn" name="btn" value="Nouveaux Leads"/>
			</p>
	</form>
	{% if request_output %}
	 <table class='leads-table'>
	<thead>
		<tr>
			<th scope="col">Business Name</th>
			<!-- <th scope="col">Business' Owner First Name</th> -->
			<!-- <th scope="col">Business' Owner Last Name</th> -->
			<th scope="col">Business Address</th>
			<th scope="col">Business Postal Code</th>
			<th scope="col">Business City</th>
			<!-- <th scope="col">Business Main Email</th> -->
			<!-- <th scope="col">Business Second Email</th> -->
			<!-- <th scope="col">Business Phone</th> -->
		</tr>
	</thead>
	<tbody>
			{% for lead in request_output %}
				<tr>
					<td> {{ lead.company_name }} </td>
					<td> {{ lead.company_address }} </td>
					<td> {{ lead.company_postal_code }} </td>
					<td> {{ lead.company_city }} </td>
					<!-- <td> {{ lead.company_email }} </td> -->
					<!-- <td> {{ lead.company_email_bcc }} </td> -->
					<!-- <td> {{ lead.company_phone }} </td> -->
				</tr>
			{% endfor %}
		</tbody>
</table>
	<!-- 
	<table>
		<thead>
		    <tr>
	        {% for col in column_names %}
	        <th>{{ col }}</th>
	        {% endfor %}
	    	</tr>
		</thead>
		<tbody>
			
		</tbody>
	    {% for row in row_data %}
	    	<tr>
	    		{% for elt in row %}
	    		<td>{{ elt }}</td>
	    		{% endfor %}
	    	</tr>
	    {% endfor %}
	</table> -->
	{% endif %}
</body>
</html>