<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<form action="{{ url_for('leads.import_csv') }}" method="post" enctype="multipart/form-data">
		{% if not uploaded %}
        <label>Choose CSV File</label></br>
      	<!-- Button to choose a csv file. Display is set to none to display a button with custon text -->
		<input type="file" id="select-file-btn" name="csv-input-btn" />
    	<!-- Button to save the file locally -->
		<input type="submit" id="load-btn" name='btn' value="Charger le fichier"/>
		{% else %}
		<!-- Button to display the file -->
		<input type="submit" id="display-btn" name='btn' value="Afficher les donnees"/>
		<!-- Button to import the value fron the file -->
		<input type="submit" id="import-btn" name='btn' value="Importer les donnees"/>
		{% endif %}
    </form>
</body>
</html>