  {% extends 'app_base.html' %}

  {% block stylesheets %}
    {{ super() }}
  {% endblock stylesheets %}

  {% block header %}
      <!--  <div class="row mb-4 pt-4 pb-5">
      <div class="col-12">
        <div class="card shadow card-stats">
          <div class='card-body'>
            <div class='row'>
              <div class='col-lg-7 col-sm-4'>
                <div class='row justify-content-start my-auto'>
                  <div clas='col-8 ml-2'>
                    <h3 class='mb-1 pt-2'>Liste des Opportunités</h3>
                  </div>
                </div>
              </div>
              <div class='col-lg-5 col-sm-2'>
                <div class='row justify-content-end'>
                  <div clas='col-3'>
                    <div class="dropdown">
                      <button class="btn btn-icon btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="btn-inner--icon"><i class="ni ni-atom"></i></span>
                        <span class="btn-inner--text">Actions</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="" id='deleteAllOpportunities'>Tous supprimer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Editer les étapes</a>
                        <a class="dropdown-item" href="#">Editer les status</a>
                      </div>
                    </div>
                  </div>
                  <div class='col-2 mr-2'>
                    <button class="btn btn-icon btn-3  btn-outline-primary" type="button" id='addOpportunityBtn' data-toggle="modal" data-target="#addOpportunityModal">
                      <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  {% endblock header %}


  {% block main_content %}
  <div class="bg-primary pb-6">
  </div>
    <div class="container-fluid">
  
      <div class='row'>
        <div class="col mx-0 mx-0  ">
          <div class="card bg-secondary shadow mt--5">

            <!-- Start card header -->
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Edition de l'étape commerciale pour <em><b>{{opportunity.name}}</b></em></h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <a href="{{url_for('crm.view_opportunities_list')}}">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </button>
                </div>
              </div>
            </div>
            <!-- End card header -->

            <!-- Start form -->
            <form action="{{url_for('crm.edit_opportunity_step', id=opportunity.id)}}" method="post" id='editOpportunityForm'>
              {{form.csrf_token()}}
              <!-- start card body -->
              <div class="card-body">
                <!-- #start 1st block# -->
                <h6 class="heading-small text-muted mb-2">Informations à propos de l'opportunité</h6>
                <div class="pl-lg-2">
                  <!-- start 1st row -->
                  <div class="row">
                    <!-- Opportunity Name -->
                    <div class="col-lg-3">                      
                    <div class="form-group">
                      <label class="form-control-label" for="input-opportunity-name">Nom</label>
                      <input id="input-opp-name" class="form-control form-control-alternative" placeholder="Ex: 'Nom de l'entreprise - type de contrat'" value="{{opportunity.name}}" type="text" disabled="">
                    </div>
                    </div>
                    <!-- Name of Step's Stage  -->
                    <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">Etape commerciale</label>
                      <!-- <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{session['stage']}}"> -->
                      {{form.stage(class="form-control form-control-alternative")}}
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Status</label>
                      {{form.status(id="status-value", class="form-control form-control-alternative")}}
                    </div>
                    </div>
                    <!-- Opportunity Amount -->
                    <div class="col-lg-2 mx-auto">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Montant - € </label>
                      <input type="text" id="input-postal-code" class="form-control form-control-alternative" placeholder="Montant en €" value={{opportunity.euros_value}} disabled="">
                    </div>
                    </div>
                  </div>
                <!-- #end 1st block# -->

                <!-- #start 2nd block# -->
                <div class="row">
                  <div class="col-9">
                  {% include "layouts/task-and-note-form.html" %}
                  </div>
                </div>
                <!-- #end 2nd block# -->

                <!-- #start 3rd block# -->
                <hr class="my-3" />
                <div class="row pl-3">
                    <h6 class="heading-small text-muted mb-2" style="position: relative; top:50%;">
                      Informations à propos du contact
                    </h6>
                    <a class='ml-2' style='position: relative; top:50%;' href="#">
                        <i class='fas fa-pencil-alt'></i>
                    </a>
                </div>
                <div class="pl-lg-2">
                  <!-- start 1st row -->
                  <div class="row">
                      <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="input-comapny-name">Entreprise</label>
                          <input type="text" class="form-control form-control-alternative" placeholder="Nom de l'entreprise" value="{{ opportunity.company }}" disabled>
                      </div>
                      </div>
                      <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="input-company-email">Email</label>
                          <input type="email" id="input-company-email" class="form-control form-control-alternative" placeholder="Email" value="{{ opportunity.company.email }}" disabled>
                      </div>
                      </div>
                      <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="input-company-phone">Telephone</label>
                          <input type="text" id="input-company-phone" class="form-control form-control-alternative" 
                                 placeholder="Telephone" value="{{ opportunity.company.phone }}" disabled>
                      </div>
                      </div>
                  </div>
                  <!-- start 2nd row -->
                  <div class="row">
                      <div class="col-lg-6">
                      <div class="form-group">
                          <label class="form-control-label" for="input-company-address">Adresse</label>
                          <input type="text" id="input-company-address" class="form-control form-control-alternative" placeholder="Adresse" value="{{ opportunity.company.address }}" disabled>
                      </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="form-group">
                          <label class="form-control-label" for="input-company-city">Ville</label>
                          <input type="text" id="input-company-city" class="form-control form-control-alternative" placeholder="Ville" value="{{ opportunity.company.city }}" disabled>
                      </div>
                      </div>
                  </div>
                  <!-- end 2nd row -->
                </div>
                  <!-- #end 3rd block# -->
              </div>
              <!-- end card body -->

              <!-- #start footer# -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"><a href="{{url_for('crm.view_opportunities_list')}}">Annuler</a></button>
                  <input name="submit-btn" type="submit" class="btn btn-primary" value="Valider">
              </div>
              <!-- #end footer# -->
            </form>
            <!-- end form -->
          </div>
        </div>
      </div>
    </div>
  {% endblock main_content %}



{% block javascripts %}
{{ super() }}
<!-- ProspectLy JS -->
<script src="{{url_for('static', filename='js/prospectly.js')}}"></script>
{% endblock javascripts%}
