{% extends "main_base.html" %}


<!--header start-->
{% block header_attribs %} id="site-header" class="header header-2"{% endblock header_attribs %}


<!--navbar start-->

{% block navbar %}
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul id="main-menu" class="nav navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.home') }}">ACCUEIL</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.pricing') }}">OFFRES</a> 
                  </li>
                  {% if not current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">CONNEXION</a> 
                  </li>
                  {% else %}
                  <li class='nav-item'>
                    <a class="nav-link" href="{{url_for('crm.home')}}">DASHBOARD</a> 
                  </li>
                  {% endif %}
                  {% if current_user.is_authenticated %}
                  <li class='nav-item'>
                    <a id='logout-btn' class="btn btn-theme btn-circle btn-md" href="{{url_for('auth.logout')}}" data-text="SE DÉCONNECTER">
                      <span>D</span><span>É</span><span>C</span><span>O</span><span>N</span><span>N</span><span>E</span><span>X</span><span>I</span><span>O</span><span>N</span>
                    </a>
                    <a id='logout-btn-collapse' class="nav-link" href="{{url_for('auth.logout')}}" data-text="Se déconnecter">
                      DÉCONNEXION
                    </a>
                  </li>
                  {% else %}
                  <li class='nav-item'>
                    <a id='free-trial-btn' class="btn btn-theme btn-md btn-circle px-5 text-uppercase " href="{{url_for('main.pricing')}}" data-text="ESSAI GRATUIT">
                      <span>E</span><span>S</span><span>S</span><span>A</span><span>Y</span><span>E</span><span>R</span>
                    </a>
                    <a id='free-trial-btn-collapse' class="nav-link text-uppercase" href="{{url_for('main.pricing')}}">ESSAI GRATUIT</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
{% endblock navbar %}

{% block top_content %}
<section id="home" class="fullscreen-banner banner p-0" data-bg-img="{{url_for('static', filename='images/pattern/01.png')}}">
<div class="hero-bg">
  <img class="img-fluid" src="{{url_for('static', filename='images/bg/04.png')}}" alt="">
</div>
  <div class="align-center p-0">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-12 img-side">
          <img class="img-center" src="static/images/mackbook/01.png" alt="">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-12 md-mt-5 ml-auto">
          <h2 class="mb-4 font-weight-normal wow fadeInUp" data-wow-duration="1.5s"> <span class="font-weight-bold">Adoptez la Prospection Nouvelle Génération</span></h2>
          <p class="lead mb-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">La première plateforme qui combine<br> un <strong>CRM</strong> et un <strong>Générateur de Prospects</strong>.<br>
          Collectez et gérez vos prospects en un temps record.
          </p>
          <div class='row'>
            <div class="col-lg-12">
              <a class="btn btn-theme wow fadeInUp px-10 mt-2" data-wow-duration="3s" data-wow-delay="0.5s" href="{{url_for('main.pricing')}}" data-text="Obtenir mon essai GRATUIT"> 
                <!--  <span>E</span><span>s</span><span>s</span><span>a</span><span>i</span>
                <span> </span><span>G</span><span>r</span><span>a</span><span>t</span><span>u</span><span>i</span><span>t</span> -->
                <span>E</span><span>s</span><span>s</span><span>a</span><span>y</span><span>e</span><span>z</span>
              </a>
              
              <!-- Extra Button -->
              <a class="btn btn-dark wow fadeInUp play-btn popup-youtube mt-2" href="" data-wow-duration="3s" data-wow-delay="0.5s" href="#" data-text="Découvrir"> 
                <span>V</span><span>o</span><span>i</span><span>r</span>
                <span>l</span><span>a</span> <span>v</span><span>i</span><span>d</span><span>é</span><span>o</span>
                  <i class="la la-play"></i>  
              </a>
            </div>  
          </div>
<!--           <div class="video-box">
            <div class="video-btn heartbeat"> <a class="play-btn popup-youtube" href=""><i class="la la-play"></i></a>
              <div class="spinner-eff">
                <div class="spinner-circle circle-1"></div>
                <div class="spinner-circle circle-2"></div>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
  <!-- from style.css -->
  <div class="round-shape">
  </div>
</section>
{% endblock top_content %}

{% block main_content %}
<!--body page_content start-->
<div class="page-content">

  <!-- feature start -->
  <section id="service" class="pos-r o-hidden text-center">
    <div class="bg-animation">
      <img class="zoom-fade" src="static/images/pattern/03.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-cubes"></i>
            </div>
            <h2 class="title">Une plateforme de prospection unique</h2>
            <p>Collectez vos prospects en seulement quelques secondes et gérez l'ensemble du processus de vente en un temps-record</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/04.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Gérez vos prospects et vos offres</h5>
            </div>
            <div class="featured-desc">
              <p>Profitez d'un CRM hyper intuitif qui facilitera la gestion de vos prospects et de vos contrats. Gérez efficacement votre processus de vente en accédant à toutes les informations essentielles en un coup d'oeil.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/03.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Gagnez du temps et de l'argent</h5>
            </div>
            <div class="featured-desc">
              <p>Chaque minute perdue à prospecter est une minute pendant laquelle vous ne vous occupez pas de vos clients. Economisez votre temps et générez plus de revenus.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/09.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Confidentialité et sécurité</h5>
            </div>
            <div class="featured-desc">
              <p>Sachez avec exactitude, et en toute tranquilité quand et comment vos données sont utilisées et stockées grâce à notre dashboard.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature end-->

  <!--testimonial start-->
  <section class="pos-r o-hidden text-center">
    <!-- <canvas id="confetti"></canvas> -->
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-users"></i>
            </div>
            <h2 class="title">Voilà ce que nos utilisateurs en pensent</h2> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Start Carousel -->
          <div id="testimonial-2" class="testimonial-carousel carousel slide testimonial-2" data-ride="carousel" data-interval="2500">
            <!-- Wrapper for slides -->
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/bilale.png" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote">
                          <i class="la la-quote-left"></i>
                        </div>
                        <p>“Prospectly est le futur de la prospection commerciale, l’ensemble de nos partenaires l’utilisent et en 2 mois nous avons triplé nos résultats financiers, tout en divisant par 2 notre temps de prospection.”</p>
                        <div class="testimonial-caption">
                          <h5>Bilale</h5>
                          <label>YAWL Agency</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/romain.png" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>“Prospectly possède un concept unique, je n’ai pas seulement adopté Prospectly, mais plutôt une toute nouvelle manière de prospecter et les résultats sont bien présents.”</p>
                        <div class="testimonial-caption">
                          <h5>Romain</h5>
                          <label>Ad Market</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/reyda.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>“Je peux vous dire que grâce à la génération de prospects nous nous sommes positionnés comme agence la plus performante au niveau régional, Prospectly nous a clairement permis de marquer l’écart avec nos concurrents.”</p>
                        <div class="testimonial-caption">
                          <h5>Reyda</h5>
                          <label>Brand Up Agency</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/julien.png" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>“En 2 minutes nous avons trouvé 400 prospects qualifiés grâce à la génération de prospects, autant vous dire que nos résultats financiers ont juste quadruplé.”</p>
                        <div class="testimonial-caption">
                          <h5>Julien</h5>
                          <label>Xertz Media</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Item -->
                </div>
                <!-- End Carousel Inner -->
              </div>
            </div>
            <div class="controls">
              <ul class="nav">
                <li data-target="#testimonial-1" data-slide-to="1" class="active">
                  <a href="">
                    <img class="img-fluid" src="static/images/testimonial/reyda.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="2">
                  <a href="">
                    <img class="img-fluid" src="static/images/testimonial/julien.png" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-3" data-slide-to="3">
                  <a href="">
                    <img class="img-fluid" src="static/images/testimonial/romain.png" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-4" data-slide-to="4">
                  <a href="">
                    <img class="img-fluid" src="static/images/testimonial/bilale.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Carousel -->
        </div>
      </div>
    </div>
    <!-- End container -->
  </section>
  <!--testimonial end-->


  <!--cta-essai start-->
  <section id="blog" class="pos-r overflow-auto pb-0 mb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-rocket"></i>
            </div>
            <h2 class="title">Faites passer votre entreprise à un niveau supérieur.</h2>
            <p>Chaque journée sans Prospectly représente une perte de revenus pour votre entreprise. C'est plus qu'un simple logiciel - notre plateforme est la seule à proposer un moteur de génération de prospects.<br>
            Essayez ça par vous-mêmes et multipliez vos revenus dès maintenant.</p>
          </div>
        </div>
      </div>
      <center>
        <a class="btn btn-theme wow fadeInUp px-10" data-wow-duration="2s" data-wow-delay="0.0  s" href="{{ url_for('main.pricing')}}" data-text="Obtenir mon essai GRATUIT">
          <span>E</span><span>s</span><span>s</span><span>a</span><span>y</span><span>e</span><span>r</span>
        </a>
      </center>
    </div>
  </section>
  <!--cta-essai end-->
</div>
{% endblock main_content %}

{% block footer %}
  <div data-bg-color="#dad5ff">
    <img class="img-center" src="{{url_for('static', filename='images/bg/03.png')}}" alt="" >
    {{super()}}
  </div>
{% endblock footer %}
