<div class="modal fade" tabindex="-1" role="dialog" id="editOpportunityModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="col-xl-12 order-xl-1 pl-0 pr-0">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Edition Opportunite</h3>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="pl-3">
                            <div class="row">
                                <h6 class="heading-small text-muted mb-2" style="position: relative; top:50%;
                                transform: translateY(-50%);">Informations a propos du contact</h6>
                                <a class='ml-2' style='position: relative; top:50%; transform: translateY(-50%);' href="#">
                                    <i class='fas fa-pencil-alt'></i>
                                </a>
                            </div>
                            </div>
                            <div class="pl-lg-2">
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-comapny-name">Entreprise</label>
                                    <input type="text" id="input-comapny-name" class="form-control form-control-alternative" placeholder="Nom de l'entreprise" value="{{ current_user.username }}" disabled>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-company-email">Email</label>
                                    <input type="email" id="input-company-email" class="form-control form-control-alternative" 
                                           placeholder="Email" value="{{ current_user.email }}" disabled>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-company-phone">Telephone</label>
                                    <input type="text" id="input-company-phone" class="form-control form-control-alternative" 
                                           placeholder="Telephone" value="{{ current_user.email }}" disabled>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-company-address">Adresse</label>
                                    <input type="text" id="input-company-address" class="form-control form-control-alternative" placeholder="Adresse" value="{{ current_user.company_address }}" disabled>
                                </div>
                                </div>
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-company-city">Ville</label>
                                    <input type="text" id="input-company-city" class="form-control form-control-alternative" placeholder="Ville" value="{{ current_user.company_city }}" disabled>
                                </div>
                                </div>
                            </div>
                            </div>
                            <hr class="my-3" />
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-2">Details de l'opportunite</h6>
                            <div class="pl-lg-2">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-opportunity-name">Nom</label>
                                        <input id="input-opp-name" class="form-control form-control-alternative" placeholder="Ex: 'Nom de l'entreprise - type de contrat'" value="Ex: 'Nom de l'entreprise - type de contrat'" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Montant</label>
                                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">City</label>
                                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                                </div>
                                </div>
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Country</label>
                                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                                </div>
                                </div>
                                <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Postal code</label>
                                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                                </div>
                                </div>
                            </div>
                            </div>
                            <hr class="my-3" />
                            <!-- Description -->
                            <h6 class="heading-small text-muted mb-4">Tâches & Notes</h6>
                            <div class="pl-lg-2">
                            <div class="form-group" id='note-form-group'>
                                <label>Note</label>
                                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                            </div>
                            <div class="form-group" id='task-form-group'>
                                <div class="row justify-between">
                                    <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Tâches</label>
                                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                                    </div>
                                    </div>
                                    <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Date limite</label>
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control datepicker" placeholder="Select date" type="text" value="06/20/2019">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <label>Descriptif</label>
                                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary">Sauvegarder</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            <label class="form-control-label" for="input-opportunity-name">Nom</label>
            <input id="input-opp-name" class="form-control form-control-alternative" placeholder="Ex: 'Nom de l'entreprise - type de contrat'" value="Ex: 'Nom de l'entreprise - type de contrat'" type="text">
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-4">
<div class="form-group">
<label class="form-control-label" for="input-opportunity-amount">Montant</label>
<input id="input-opportunity-amount" class="form-control form-control-alternative" placeholder="Montant" value="" type="text">
</div>
</div>
</div>
</div>





<!-- Test 1 -->
<div class="modal fade" tabindex="-1" role="dialog" id="editOpportunityModalKeep">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal Header  -->
      <div class="modal-header">
        <h2 class="modal-title">Modal title</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- End Header  -->
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>

<!-- Test 2 -->
<div class="modal fade" id="editOpportunityModalKeep2" role='dialog'>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <!-- Modal Header  -->
            <div class="modal-header">
                <h2 class="modal-title">Editer l'etape</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
         <!-- Modal Content  -->
         <div class="modal-body">
            <form class="border-light">
                <h4>Name of the opportunity</h4>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
                <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
                <label for="defaultSelect">Subject</label>
                <select id="defaultSelect" class="browser-default custom-select mb-4">
                    <option value="" disabled="">Choose option</option>
                    <option value="1" selected="">Feedback</option>
                    <option value="2">Report a bug</option>
                    <option value="3">Feature request</option>
                    <option value="4">Feature request</option>
                </select>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
            </form>
        </div>
        <!-- Modal Footer  -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary">Sauvegarder</button>
        </div>
    </div>
  </div>
</div>


