
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Left Nav -->
        <ul class='navbar-nav align-items-center'>
          <li>
              <a class="nav-link d-none d-md-flex" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
              </a>
          </li>
          <li>
            <a class="h4 mb-0 ml-2 text-white text-uppercase d-none d-lg-inline-block" href="#">{{page_name}}Menu</a>
          </li>
        </ul>
        <!-- Search form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Recherche" type="text">
            </div>
          </div>
        </form>
        <!-- Right Nav -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{url_for('static', filename='images/theme/team-1.jpg')}}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{ current_user.username }}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Hello {{current_user.first_name}}!</h6>
              </div>
              <a href="{{url_for('auth.profile')}}" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>Mon profile</span>
              </a>
              <a href="" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Régalges - A venir</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{url_for('auth.logout')}}" class="dropdown-item">
                <i class="ni ni-user-run text-red"></i>
                <span>Déconnexion</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
