{% extends "layout/landing_base.html" %}


<!--header start-->
{% block header_attribs %} id="site-header" class="header header-2"{% endblock header_attribs %}


<!--navbar start-->
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('landing.home') }}">ACCUEIL</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('landing.pricing') }}">OFFRES</a> 
  </li>
  {% if not current_user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('auth.login')}}">CONNEXION</a> 
  </li>
  {% endif %}
{% endblock navbar %}


{% block top_content %}
<section id="home" class="fullscreen-banner banner p-0" data-bg-img="{{url_for('static', filename='images/pattern/01.png')}}">
<div class="hero-bg">
  <img class="img-fluid" src="{{url_for('static', filename='images/bg/04.png')}}" alt="">
</div>
  <div class="align-center p-0">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-12 img-side">
          <img class="img-center" src="static/images/mackbook/01.png" alt="">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-12 md-mt-5 ml-auto">
          <h2 class="mb-4 font-weight-normal wow fadeInUp" data-wow-duration="1.5s">Adopter la <span class="font-weight-bold"> Prospection</span> Nouvelle Génération</h2>
          <p class="lead mb-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">La première plateforme de génération de prospects & CRM</p>
          <a class="btn btn-theme wow fadeInUp px-4" data-wow-duration="3s" data-wow-delay="0.5s" href="{{url_for('landing.pricing')}}" data-text="Essai Gratuit"> 
<!--             <span>E</span><span>s</span><span>s</span><span>a</span><span>i</span>
            <span> </span><span>G</span><span>r</span><span>a</span><span>t</span><span>u</span><span>i</span><span>t</span> -->
            <span>E</span><span>s</span><span>s</span><span>a</span><span>y</span><span>e</span><span>r</span>
          </a>
         <!-- Extra Button -->
         <!--  <a class="btn btn-dark wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.5s" href="#" data-text="Ici tu peux rajouter le texte pour un 2eme boutton"> <span>L</span><span>e</span><span>a</span><span>r</span><span>n</span>
            <span> </span><span>M</span><span>o</span><span>r</span><span>e</span>
          </a> -->
        </div>
          <div class="video-box">
            <div class="video-btn heartbeat"> <a class="play-btn popup-youtube" href=""><i class="la la-play"></i></a>
              <div class="spinner-eff">
                <div class="spinner-circle circle-1"></div>
                <div class="spinner-circle circle-2"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- from style.css -->
  <div class="round-shape">
  </div>
</section>
{% endblock top_content %}

{% block main_content %}
<!--body page_content start-->
<div class="page-content">

  <!-- feature start -->
  <section id="service" class="pos-r o-hidden text-center">
    <div class="bg-animation">
      <img class="zoom-fade" src="static/images/pattern/03.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-cubes"></i>
            </div>
            <h2 class="title">Une plateforme de prospection unique</h2>
            <p>Collectez vos prospects en seulement quelques secondes et gérer l'ensemble du processus de vente en un temps-record</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/04.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Gérez vos prospects et vos offres</h5>
            </div>
            <div class="featured-desc">
              <p>Profitez de notre CRM intégré qui facilitera la gestion de vos prospects. Efficace et intuitive, notre CRM a été créé dans le but de faciliter votre travail.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/03.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Nous trouvons vos prospects</h5>
            </div>
            <div class="featured-desc">
              <p>Collectez vos prospects en seulement quelques secondes et gérer l'ensemble du processus de vente en un temps-record.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="featured-item style-4">
            <div class="featured-icon">
              <img class="img-center" src="static/images/feature/09.png" alt="">
            </div>
            <div class="featured-title">
              <h5>Confidentialité et sécurité</h5>
            </div>
            <div class="featured-desc">
              <p>Sachez avec exactitude, et en toute tranquilité quand et comment vos données sont utilisées et stockées grâce à notre dashboard.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature end-->

  <!--testimonial start-->
  <section class="pos-r o-hidden text-center">
    <!-- <canvas id="confetti"></canvas> -->
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-users"></i>
            </div>
            <h2 class="title">Voilà ce que les utilisateurs en pensent</h2> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Start Carousel -->
          <div id="testimonial-2" class="testimonial-carousel carousel slide testimonial-2" data-ride="carousel" data-interval="2500">
            <!-- Wrapper for slides -->
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/reyda.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote">
                          <i class="la la-quote-left"></i>
                        </div>
                        <p>Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit.</p>
                        <div class="testimonial-caption">
                          <h5>Reyda AFT</h5>
                          <label>Brand Up Agency</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/raph.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit.</p>
                        <div class="testimonial-caption">
                          <h5>Raphael GNN</h5>
                          <label>Ace Up Media</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/thom.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit.</p>
                        <div class="testimonial-caption">
                          <h5>Thomas</h5>
                          <label>Zuri Media</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial style-2">
                      <div class="testimonial-img">
                        <img class="img-center zoom-fade" src="static/images/testimonial/reyda.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <div class="testimonial-quote"><i class="la la-quote-left"></i>
                        </div>
                        <p>Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit.</p>
                        <div class="testimonial-caption">
                          <h5>SMMA Incubator</h5>
                          <label>Plus d'inspi</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Item -->
                </div>
                <!-- End Carousel Inner -->
              </div>
            </div>
            <div class="controls">
              <ul class="nav">
                <li data-target="#testimonial-2" data-slide-to="0" class="active">
                  <a href="#">
                    <img class="img-fluid" src="static/images/testimonial/reyda.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="1">
                  <a href="#">
                    <img class="img-fluid" src="static/images/testimonial/raph.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="2">
                  <a href="#">
                    <img class="img-fluid" src="static/images/testimonial/thom.jpg" alt="">
                  </a>
                </li>
                <li data-target="#testimonial-2" data-slide-to="3">
                  <a href="#">
                    <img class="img-fluid" src="static/images/testimonial/reyda.jpg" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Carousel -->
        </div>
      </div>
    </div>
    <!-- End container -->
  </section>
  <!--testimonial end-->


  <!--cta-essai start-->
  <section id="blog" class="pos-r o-hidden">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="section-title">
            <div class="title-effect title-effect-2">
              <div class="ellipse"></div> <i class="la la-rocket"></i>
            </div>
            <h2 class="title">Prêt à faire passer votre prospection à un niveau supérieur</h2>
            <p>Prospectly est plus qu'un simple logiciel - notre plateforme est la seule à comprendre la génération de prospects et CRM</p>
          </div>
        </div>
      </div>
      <center>
        <a class="btn btn-theme wow fadeInUp px-4" data-wow-duration="3s" data-wow-delay="0.5s" href="{{ url_for('landing.pricing')}}" data-text="Essai Gratuit">
          <span>E</span><span>s</span><span>s</span><span>a</span><span>y</span><span>e</span><span>r</span>
        </a>
      </center>
    </div>
  </section>
  <!--cta-essai end-->
</div>
{% endblock main_content %}

