{% extends "layout/landing_base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/pricing.css') }}" rel="stylesheet" type="text/css">  
<!-- <link href="{{ url_for('static', filename='css/argon/argon-dashboard.css') }}" rel="stylesheet"> -->

{% endblock styles %}


<!--navbar start-->
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('landing.home') }}">ACCUEIL</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('landing.pricing') }}">OFFRES</a> 
  </li>
  {% if not current_user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('auth.login')}}">CONNEXION</a> 
  </li>
  {% endif %}
{% endblock navbar %}


{% block top_content %}

<!--body page_content start-->
<div class="page-content">
  <div class="hero-bg">
    <img class="img-fluid" src="{{url_for('static', filename='images/bg/04.png')}}" alt="">
  </div>

  <section id="service" class="pos-r o-hidden text-center pb-0">
	<div class="container mt-4 pt-5">
     <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <h6>Nos Abonnements</h6>
        </div>
      </div>
    </div>
     <div class="row">

   

        <div class="col-lg-8 col-md-12 ml-auto mr-auto pt-0 wow fadeInLeft">
          <div class="section-title">
            <h2 class="title">Inscrivez vous en quelques clics.</h2>
            <p>Collectez vos prospects en seulement quelques secondes et gérer l'ensemble du processus de vente en un temps-record</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section id="pricing-card" class="pos-r pt-0 text-center">
        <canvas id="canvas"></canvas>

    <div class="container">

      <!-- START YEARLY SUBSCRIPTIONS  -->

      <!-- Toggle Button  -->
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 mt-4 ml-auto mr-auto">
      <label class="toggler" id="monthly-choice">Monthly</label>
      <div class="toggle">
        <!-- slider frame -->
        <input type="checkbox" checked="checked" class="check" id="switcher" >
        <!-- slider -->
        <b class="b switch"></b>
      </div>        
      <label class="toggler toggler--is-active" id="yearly-choice">Yearly</label>
        </div>
      </div>
      <div class="row" id="yearly-subscriptions">
      	<!-- empty col -->
      	<!-- <div class="col-lg-2 col-md-6 mt-2"></div> -->

      	<!-- start card 1 -->
        <div class="col-lg-4 col-md-6 mt-4 ml-auto mr-2">
          <div class="card-item style-4 look-1">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h3>Prospectly</h3>
            </div>
            <div class="price">
              <h4>
                29<sup>€</sup>
              </h4>
            </div>
            <div class="option">
              <ul>
              <!-- <li> <i class="fa fa-check" aria-hidden="true"></i> 200 Contacts </li> -->
              <li> <i class="fa fa-check" aria-hidden="true"></i> Pipelines et étapes personnalisés </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Fixation d'objectifs par opportunités </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Vue des activités et du calendrier </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Générateur de prospects </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Accompagnement dans le processus de vente </li>
              </ul>
            </div>
              <!-- Live button -->
              <button id="checkout-button-plan_GgrfmtKZAV6j1l" role="link">
              <!-- Test button -->
              <!-- <button id="checkout-button-plan_GggP03CwhdtuYk" role="link"> -->
               Je m'inscris
             </button>
          </div>
        </div>
        <!-- end card 1 -->

        <!-- empty col -->
        <!-- <div class="col-lg-1 col-md-6 mt-2"></div> -->

        <!-- start card 2 -->
        <div class="col-lg-4 col-md-6 mt-4 ml-auto mr-auto">
          <div class="card-item style-4 look-2">
            <div class="title">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <h3>Prospectly +</h3>
            </div>
            <div class="price">
              <h4>
                159<sup>€</sup>
              </h4>
            </div>
            <div class="option">
              <ul>
              <!-- <li> <i class="fa fa-check" aria-hidden="true"></i> Contacts illimités </li> -->
              <li> <i class="fa fa-check" aria-hidden="true"></i> Pipelines et étapes personnalisés </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Fixation d'objectifs par opportunités </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Vue des activités et du calendrier </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Générateur de prospects </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Accompagnement dans le processus de vente </li>
              </ul>
            </div>
            <button>A venir...</button>
          </div>
        </div>
        <!-- end card 2 -->

        <!-- empty col -->
        <!-- <div class="col-lg-1 col-md-6 mt-2"></div> -->
      </div>
      <!-- end row -->


      <!-- START MONTHLY SUBSCRIPTIONS  -->
      <div id="monthly-subscriptions" class="row hide">
      	<!-- empty col -->
      	<!-- <div class="col-lg-2 col-md-6 mt-2 "></div> -->

      	<!-- start card 1 -->
        <div class="col-lg-4 col-md-6 mt-4 ml-auto mr-2">
          <div class="card-item style-4 look-1">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h3>Prospectly</h3>
            </div>
            <div class="price">
              <h4>34<sup>€</sup></h4>
            </div>
            <div class="option">
              <ul>
              <!-- <li> <i class="fa fa-check" aria-hidden="true"></i> 200 Contacts </li> -->
              <li> <i class="fa fa-check" aria-hidden="true"></i> Pipelines et étapes personnalisés </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Fixation d'objectifs par opportunités </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Vue des activités et du calendrier </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Générateur de prospects </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Accompagnement dans le processus de vente </li>
              </ul>
            </div>
            <!-- Live button -->
            <button id="checkout-button-plan_GgreHAs62bMtM8" role="link">
            <!-- Test button -->
            <!-- <button id="checkout-button-plan_GggQmCKZATWq0c" role="link"> -->
              
              Je m'inscris             
            </button>
          </div>
        </div>
        <!-- end card 1 -->

        <!-- empty col -->
        <!-- <div class="col-lg-1 col-md-6 mt-2"></div> -->

        <!-- start card 2 -->
        <div class="col-lg-4 col-md-6 mt-4 ml-auto mr-auto">
          <div class="card-item style-4 look-2">
            <div class="title">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <h3>Prospectly +</h3>
            </div>
            <div class="price">
              <h4>199<sup>€</sup></h4>
            </div>
            <div class="option">
              <ul>
              <!-- <li> <i class="fa fa-check" aria-hidden="true"></i> Contacts illimités </li> -->
              <li> <i class="fa fa-check" aria-hidden="true"></i> Pipelines et étapes personnalisés </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Fixation d'objectifs par opportunités </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Vue des activités et du calendrier </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Générateur de prospects </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Accompagnement dans le processus de vente </li>
              </ul>
            </div>
            <button>A venir...</button>
          </div>
        </div>
        <!-- end card 2 -->

        <!-- empty col -->
        <!-- <div class="col-lg-1 col-md-6 mt-2"></div> -->
      </div>
      <!-- end row -->
      <!-- end monthly subs -->
      </div>
    </section>
  </div>  
  </section>

</div>
{% endblock top_content %}


{% block scripts %}
{{ super() }}
{% endblock scripts %}
