
{% macro render_picture_choices() %}
<div class="modal fade" id="choosePictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form>
        <div class="card card-pricing border-0 text-center mb-4">
          <div class="card-header bg-transparent">          
          </div> 
        

          <div class="card-body px-lg-7"> 
          </div>  
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro %}