<!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="{{url_for('crm.home')}}">
          <img src="{{url_for('static', filename='images/logo.png')}}" class="navbar-brand-img" alt="ProspectLy App">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            {% if current_user.is_admin() %}
            <li class="nav-item">
              {% if 'Dashboard' in title %}
              <a class="nav-link active" href="{{url_for('crm.home')}}">
              {% else %}
              <a class="nav-link" href="{{url_for('crm.home')}}">
              {% endif %}
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            {% endif %}
            <li class='nav-item'>
              {% if 'Prospects' in title %}
              <a class="nav-link active" href="#navbar-prospects" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-opportunities">
              {% else %}
              <a class="nav-link" href="#navbar-prospects" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-opportunities">
              {% endif %}
                <i class="ni ni-single-copy-04 text-purple"></i>
                <span class="nav-link-text">Prospects</span>
              </a>
              <div class='collapse' id='navbar-prospects'>
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('crm.view_companies_list')}}">
                      Entreprises
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('crm.view_contacts_list')}}">
                      Contacts
                    </a>
                  </li>
                </ul>                
              </div>
            </li>            
            <li class="nav-item">
              {% if 'Opportunites' in title %}
              <a class="nav-link active" href="#navbar-opportunities" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-opportunities">
              {% else %}
              <a class="nav-link" href="#navbar-opportunities" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-opportunities">
              {% endif %}
                <i class="ni ni-planet text-yellow"></i>
                <span class="nav-link-text">Opportunités</span>
              </a>
              <div class="collapse" id="navbar-opportunities">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a href="{{url_for('crm.view_opportunities_list')}}" class="nav-link">
                      Vue Liste
                    </a>
                  </li>
                  {% if current_user.is_admin() %}
                  <li class="nav-item">
                    <a href="#" class="nav-link">Vue Tunnel - à venir</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Personnaliser le tunnel - à venir</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </li>
            <li class='nav-item'>
              {% if 'Generator' in title %}
              <a class="nav-link active" href="#">
              {% else %}
              <a class="nav-link" href="{{url_for('leads.view_leads')}}">
              {% endif %}
                <i class="ni ni-spaceship text-blue"></i>
                <span class="nav-link-text">Générateur de Prospects</span>  
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.profile')}}">
                <i class="ni ni-circle-08 text-green"></i> 
                <span class="nav-link-text">Profil</span>
              </a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}">
                <i class="ni ni-user-run text-red"></i>
                <span class="nav-link-text">Déconnexion</span>
              </a>
            </li>
            {% endif %}         
          </ul>

          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">Support</h6>
          <!-- End Divider -->

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            {% if current_user.is_admin() %}
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                <i class="ni ni-compass-04"></i>
                <span class="nav-link-text">Démarrer avec Prospectly</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="ni ni-chat-round"></i>
                <span class="nav-link-text">Questions populaires</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.contact')}}">
                <i class="ni ni-support-16"></i>
                <span class="nav-link-text">Contactez-nous</span>
              </a>
            </li>
          </ul>

          <!-- Admin Divider -->
          {% if current_user.is_admin() %}
          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">Admin</h6>
          <!-- End Divider -->

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.admin_support')}}">
                <i class="ni ni-email-83"></i>
                <span class="nav-link-text">Admin Support</span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href="/admin">
                <i class="ni ni-books"></i>
                <span class='nav-link-text'>Admin Database</span>
              </a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- ########### -->
  <!-- End Sidenav